@font-face {
    font-family: 'Norwester';
    src: url('/components/ui/norwester.otf') format('opentype');
}

.font-rookie {
    font-family: 'Norwester', sans-serif; /* Updated to use Norwester font */
}

.font-bold {
    font-weight: bold;
}

.text-vookie {
    font-size: 1.5rem;
    text-align: center;
}

.spaced-text {
    letter-spacing: 0.05rem; /* Adjust the value as needed */
}
