@font-face {
    font-family: 'Norwester';
    src: url('/components/ui/norwester.otf') format('opentype');
}

.font-rookie {
    font-family: 'Norwester', sans-serif; /* Updated to use Norwester font */
}

.text-vookie {
    font-size: 1.5rem;
    text-align: center;
}
